{% load static %}
<!DOCTYPE html>
<html lang="en">

{% include 'base/head.html' %}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-NZJKBG7Z0Q"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-NZJKBG7Z0Q');
</script>

<body>
{% include 'base/headernsidebar.html' %}

{% block content %}

{% endblock %}

{% include 'base/footernscripts.html' %}
</body>

</html>