{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- libraries CSS -->
    <link rel="stylesheet" href="{% static 'assets/font/flaticon_jio_-_influencer.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/splide/splide.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/plyr/plyr.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/slim-select/slimselect.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/no-ui-slider/nouislider.min.css' %}">

    <!-- custom CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>