{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Official Sareeh Far Website</title>

    <!-- libraries CSS -->
    <link rel="stylesheet" href="{% static 'assets/font/flaticon_jio_-_influencer.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/splide/splide.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/plyr/plyr.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/slim-select/slimselect.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/no-ui-slider/nouislider.min.css' %}">


    <meta property="og:title" content="Sareh Far - Community" />
  <meta property="og:description" content="Join Sareeh to connect or share moments with her!" />
  <meta property="og:image" content="https://sarehfar.com/static/assets/img/Hisareeh_logo_cropped.webp" />
  <meta property="og:url" content="https://sarehfar.com/" />
  <meta property="og:type" content="website" />

    <!-- custom CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>