{% load static %}
<!-- sidebar -->
<div class="jo-sidebar">
  <div>
    <!-- heading -->
    <div class="jo-sidebar__heading d-flex justify-content-between align-items-center">
      <button type="button" class="jo-sidebar-close-btn"><i class="flaticon-add-plus-button"></i></button>
    </div>
    <!-- mobile menu -->
    <div class="jo-header-nav-in-mobile"></div>
  </div>

  <div>
    <a href="{% url 'about' %}" class="jo-btn"><i class="flaticon-add-plus-button"></i>Follow Me</a>
    <!-- socials -->
    <div class="tt-footer-top__socials jo-footer-top__socials jo-sidebar-socials justify-content-start justify-content-sm-end">
      <a href="#"><i class="flaticon-facebook-1"></i></a>
      <a href="#"><i class="flaticon-twitter"></i></a>
      <a href="#"><i class="flaticon-social-media"></i></a>
      <a href="#"><i class="flaticon-youtube-1"></i></a>
    </div>
  </div>
</div>

<!-- HEADER SECTION START -->
<header class="jo-header">
  <div class="jo-header-right w-100 d-flex align-items-center justify-content-between flex-wrap">
    <!-- Center Nav -->
    <div class="jo-header-nav mx-auto d-none d-lg-block">
      <nav class="d-flex justify-content-center gap-4">
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'work' %}">My Work Profile</a>
        <a href="{% url 'contact' %}">Contact</a>
      </nav>
    </div>

    <!-- Right CTA + burger -->
    <div class="d-flex gap-2 align-items-center">
      <a href="{% url 'about' %}" class="jo-btn d-none d-lg-inline-block">
        <i class="flaticon-add-plus-button"></i>Follow Me
      </a>
      <button class="jo-header-sidebar-open-btn jo-btn px-3 d-inline-block d-lg-none">
        <i class="flaticon-menu"></i>
      </button>
    </div>
  </div>

  <!-- Mobile nav -->
  <div class="jo-header-nav d-lg-none">
    <div class="to-go-to-sidebar-in-mobile">
      <nav>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'work' %}">My Work Profile</a>
        <a href="{% url 'contact' %}">Contact</a>
      </nav>
    </div>
  </div>
</header>
<!-- HEADER SECTION END -->
