{% extends 'base/base.html' %}
{% load static %}

{% block content %}


<main>
    <!-- BREADCRUMB SECTION START -->
    <section class="jo-breadcrumb">
        <div class="container">
            <h1 class="jo-page-title jo-section-title">Contact Me</h1>
            <ul class="jo-breadcrumb-nav">
                <li><a href="#">Home</a></li>
                <li><span>/</span></li>
                <li class="current-page">Contact Me</li>
            </ul>

            <div class="jo-circle-box">
                <span class="circle-1"><img src="{% static 'assets/img/social-icon-1.png' %}" alt="Social Media Icon"></span>
                <span class="circle-2"><img src="{% static 'assets/img/social-icon-2.png' %}" alt="Social Media Icon"></span>
                <span class="circle-3"><img src="{% static 'assets/img/social-icon-3.png' %}" alt="Social Media Icon"></span>
                <span class="circle-4"><img src="{% static 'assets/img/social-icon-4.png' %}" alt="Social Media Icon"></span>
            </div>
        </div>
    </section>
    <!-- BREADCRUMB SECTION END -->

    <!-- CONTACT SECTION START -->
    <section class="jo-inner-main-content">
            <div class="jo-container">
                <div class="row g-lg-4 g-3 row-cols-lg-4 row-cols-md-3 row-cols-2 row-cols-xxs-1">
                    <!-- single contact info -->
                    <div class="col">
                        <div class="jo-contact-info">
                            <div class="icon"><i class="flaticon-location-pin"></i></div>
                            <h3 class="title">Our Address</h3>
                            <p class="descr">4517 Washington Ave. Manchester, Kentucky 39495</p>
                        </div>
                    </div>
                    <!-- single contact info -->
                    <div class="col">
                        <div class="jo-contact-info">
                            <div class="icon"><i class="flaticon-email-marketing"></i></div>
                            <h3 class="title"><a href="mailto:info@exmple.com">info@exmple.com</a></h3>
                            <p class="descr">Email us anytime for any kind ofquety.</p>
                        </div>
                    </div>
                    <!-- single contact info -->
                    <div class="col">
                        <div class="jo-contact-info">
                            <div class="icon"><i class="flaticon-phone-1"></i></div>
                            <h3 class="title"><a href="tel:20866601112">Hot: +208-666-01112</a></h3>
                            <p class="descr">24/7/365 priority Live Chat and ticketing support.</p>
                        </div>
                    </div>
                    <!-- single contact info -->
                    <div class="col">
                        <div class="jo-contact-info">
                            <div class="icon"><i class="flaticon-clock"></i></div>
                            <h3 class="title">Opening Hour </h3>
                            <p class="descr">
                                <span>Sunday-Fri: 9 AM – 6 PM</span><br>
                                <span>Saturday: 9 AM – 4 PM</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="jo-inner-contact-form-section">
            <div class="jo-container">
                <div class="row row-cols-lg-2 row-cols-1">
                    <!-- img -->
                    <div class="col">
                        <div>
                            <h3 class="jo-inner-contact-from-left-title">Request a Consultation</h3>

                            <div class="jo-inner-contact-img text-center">
                                <img src="{% static 'assets/img/sarc.png' %}" alt="Image" style="border-radius: 10px;">
                            </div>
                        </div>
                    </div>

                    <!-- contact form -->
                    <div class="col">
                        <div class="jo-inner-contact-form-wrapper">
                            <h3 class="jo-inner-contact-form-title">Get in Touch</h3>

                            <form action="#" class="jo-inner-contact-form">
                                <div class="row g-lg-4 g-3 row-cols-sm-2">
                                    <div>
                                        <input type="text" name="jo-contact-name" id="jo-contact-name" placeholder="Full Name">
                                    </div>
                                    <div>
                                        <input type="email" name="jo-contact-email" id="jo-contact-email" placeholder="Email Address">
                                    </div>
                                    <div>
                                        <input type="tel" name="jo-contact-phone" id="jo-contact-phone" placeholder="Phone Number">
                                    </div>
                                    <div>
                                        <div class="select-wrapper">
                                            <select name="jo-contact-subject" id="jo-contact-subject">
                                                <option data-placeholder="true">Subject</option>
                                                <option value="1">Subject 1</option>
                                                <option value="2">Subject 2</option>
                                                <option value="3">Subject 3</option>
                                                <option value="4">Subject 4</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-12">
                                        <textarea name="jo-contact-message" id="jo-contact-message" placeholder="Messages"></textarea>
                                    </div>
                                </div>
                                <div class="jo-checkout-agreement-wrapper">
                                    <label for="jo-checkout-agreement">
                                        <input type="checkbox" name="jo-checkout-agreement" id="jo-checkout-agreement" hidden checked>
                                        <span class="txt">Collaboratively formulate principle capital. Progressively evolve user</span>
                                    </label>
                                </div>

                                <button type="submit" class="submit-btn"> Submit Now <i class="flaticon-arrow-down-sign-to-navigate"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <section class="jo-inner-contact-form-section">
        <div class="jo-container">
            <div class="row row-cols-lg-2 row-cols-1">
                <!-- Image section -->
               

                <!-- Django Contact Form -->
              <!--  <div class="col">
                    <div class="jo-inner-contact-form-wrapper">
                        <h3 class="jo-inner-contact-form-title">Get in Touch</h3>

                        <form method="post" class="jo-inner-contact-form">
                            {% csrf_token %}
                            {{ form.non_field_errors }}

                            <div class="row g-lg-4 g-3 row-cols-sm-2">
                                <div>
                                    {{ form.name.errors }}
                                    {{ form.name }}
                                </div>
                                <div>
                                    {{ form.email.errors }}
                                    {{ form.email }}
                                </div>
                                <div>
                                    {{ form.phone.errors }}
                                    {{ form.phone }}
                                </div>
                                <div>
                                    {{ form.subject.errors }}
                                    {{ form.subject }}
                                </div>
                                <div class="col-sm-12 col-12">
                                    {{ form.message.errors }}
                                    {{ form.message }}
                                </div>
                            </div>

                            <div class="jo-checkout-agreement-wrapper">
                                <label for="jo-checkout-agreement">
                                    <input type="checkbox" id="jo-checkout-agreement" hidden checked>
                                    <span class="txt">Collaboratively formulate principle capital. Progressively evolve user</span>
                                </label>
                            </div>

                            <button type="submit" class="submit-btn"> Submit Now <i class="flaticon-arrow-down-sign-to-navigate"></i></button>
                        </form>
                    </div>
                </div> -->
            </div>
        </div>
    </section>
</main>

<script src="{% static 'assets/js/main.js' %}"></script>
<script src="{% static 'assets/js/accordion.js' %}"></script>
{% endblock %}
